# ATTENTION: when starting a project in production mode, change these parameters

# mode can be production or development
mode=production

# debug can be True or False
# if mode=production debug will ALWAYS be False
debug=False

# telegram_base_url may be empty
telegram_token=
telegram_base_url=

# base url for voice messages
voice_url_path=

# url to connect to postgres database
# example https://docs.sqlalchemy.org/en/14/core/engines.html
# why postgresql and not postgres:
# https://stackoverflow.com/questions/62688256/sqlalchemy-exc-nosuchmoduleerror-cant-load-plugin-sqlalchemy-dialectspostgre
db_url=postgresql://bot:bot_secret@db:5432
